<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Add User</h2>

<form th:action="@{/adduser}" th:object="${user}" method="post">

    <label>Name</label><br>
    <input type="text" th:field="*{name}" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br><br>

    <label>Email</label><br>
    <input type="text" th:field="*{email}" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br><br>

    <button type="submit">Add User</button>

</form>

<br>
<a href="/">Back to list</a>

</body>
</html>